Repository Shuttlerock/actions, pull requests merged in 2021-02, with the labels that each got.

#330 [STUDIO-1314] If at least ONE of tech stories is in ['In Development', 'Tech Review', 'Has Issues'], then the parent story should be 'In Development'
  .meta/STUDIO-1314.md
Labels: please-review

#332 Release Candidate 2021-02-01-0107 (Lovely Loon)
  .meta/STUDIO-1260.md
  .meta/STUDIO-1314.md
  .meta/STUDIO-1384.md
  actions/check-run-completed-action/index.js
  actions/check-suite-completed-action/index.js
  actions/pull-request-closed-action/index.js
  actions/pull-request-converted-to-draft-action/index.js
  actions/pull-request-labeled-action/index.js
  actions/pull-request-ready-for-review-action/index.js
  actions/trigger-action/index.js
  package.json
  src/actions/trigger-action/__tests__/fixtures/createRelease.json
  src/services/Github/Release.ts
  src/services/Slack/Message.ts
  src/services/Slack/__tests__/Message.test.ts
  src/triggers/jiraIssueTransitioned.ts
  yarn.lock
Labels: please-review, release

#334 Release Candidate 2021-02-01-0438 (Total Tiger)
  .meta/STUDIO-1385.md
  actions/check-run-completed-action/index.js
  actions/check-suite-completed-action/index.js
  actions/pull-request-closed-action/index.js
  actions/pull-request-converted-to-draft-action/index.js
  actions/pull-request-labeled-action/index.js
  actions/pull-request-ready-for-review-action/index.js
  actions/trigger-action/index.js
  src/services/Slack/Message.ts
  src/services/Slack/__tests__/Message.test.ts
Labels: passed-review, release

#346 Release Candidate 2021-02-05-0624 (Universal Urial)
  .meta/STUDIO-1463.md
  actions/check-run-completed-action/index.js
  actions/check-suite-completed-action/index.js
  actions/pull-request-closed-action/index.js
  actions/pull-request-converted-to-draft-action/index.js
  actions/pull-request-labeled-action/index.js
  actions/pull-request-ready-for-review-action/index.js
  actions/trigger-action/index.js
  package.json
  src/actions/trigger-action/__tests__/fixtures/approvePullRequest.json
  src/actions/trigger-action/index.ts
  src/services/Credentials.ts
  src/services/Github/PullRequest.ts
  src/services/Github/__tests__/PullRequest.test.ts
  src/services/Slack/Message.ts
  src/tests/Mocks.ts
  src/triggers/__tests__/approvePullRequest.test.ts
  src/triggers/approvePullRequest.ts
  src/triggers/index.ts
  yarn.lock
Labels: passed-review, release

#348 Release Candidate 2021-02-08-1201 (Verbal Viper)
  .meta/STUDIO-1468.md
  actions/check-run-completed-action/index.js
  actions/check-suite-completed-action/index.js
  actions/pull-request-closed-action/index.js
  actions/pull-request-converted-to-draft-action/index.js
  actions/pull-request-labeled-action/index.js
  actions/pull-request-ready-for-review-action/index.js
  actions/trigger-action/index.js
  src/triggers/__tests__/approvePullRequest.test.ts
  src/triggers/__tests__/createPullRequestForJiraIssue.test.ts
  src/triggers/approvePullRequest.ts
  src/triggers/createPullRequestForJiraIssue.ts
Labels: passed-review, please-review, release

#350 Release Candidate 2021-02-08-0110 (Young Yak)
  .meta/STUDIO-1469.md
  actions/check-run-completed-action/index.js
  actions/check-suite-completed-action/index.js
  actions/pull-request-closed-action/index.js
  actions/pull-request-converted-to-draft-action/index.js
  actions/pull-request-labeled-action/index.js
  actions/pull-request-ready-for-review-action/index.js
  actions/trigger-action/index.js
  src/services/Github/Release.ts
Labels: passed-review, release

#354 Release Candidate 2021-02-08-0556 (Chemical Cheetah)
  .meta/STUDIO-1470.md
  .meta/STUDIO-1471.md
  actions/check-run-completed-action/index.js
  actions/check-suite-completed-action/index.js
  actions/pull-request-closed-action/index.js
  actions/pull-request-converted-to-draft-action/index.js
  actions/pull-request-labeled-action/index.js
  actions/pull-request-ready-for-review-action/index.js
  actions/trigger-action/index.js
  src/actions/check-suite-completed-action/__tests__/checkSuiteCompleted.test.ts
  src/actions/check-suite-completed-action/checkSuiteCompleted.ts
  src/actions/pull-request-closed-action/pullRequestClosed.ts
  src/services/Github/Release.ts
  src/triggers/__tests__/approvePullRequest.test.ts
  src/triggers/__tests__/createPullRequestForJiraIssue.test.ts
  src/triggers/approvePullRequest.ts
  src/triggers/createPullRequestForJiraIssue.ts
Labels: passed-review, release

#380 Release Candidate 2021-02-24-0157 (Rough Rhinoceros)
  .husky/.gitignore
  .husky/pre-commit
  .meta/STUDIO-1566.md
  actions/check-run-completed-action/index.js
  actions/check-suite-completed-action/index.js
  actions/pull-request-closed-action/index.js
  actions/pull-request-converted-to-draft-action/index.js
  actions/pull-request-labeled-action/index.js
  actions/pull-request-ready-for-review-action/index.js
  actions/trigger-action/index.js
  package.json
  src/services/Github/Release.ts
  src/services/Github/__tests__/Release.test.ts
  yarn.lock
Labels: passed-review, release

#388 Release Candidate 2021-02-24-0258 (Zealous Zebra)
  .circleci/config.yml
  .eslintrc.js
  .meta/STUDIO-1567.md
  .meta/STUDIO-1568.md
  actions/check-run-completed-action/index.js
  actions/check-suite-completed-action/index.js
  actions/pull-request-closed-action/index.js
  actions/pull-request-converted-to-draft-action/index.js
  actions/pull-request-labeled-action/index.js
  actions/pull-request-ready-for-review-action/index.js
  actions/trigger-action/index.js
  package.json
  src/services/Github/Release.ts
  src/services/Github/__tests__/Release.test.ts
  yarn.lock
Labels: passed-review, release
